{% extends 'Crud/base.html' %}
{% block content %}
<div class="container-fluid">
 <div class="row">
  <div class="col-md-1 col-xs-1 col-sm-1"></div>
   <div  class="col-md-10 col-xs-10 col-sm-10">
    <h3 class="round3" style="text-align:center;">Posts</h3>
  </div>
  <div class="col-md-1 col-xs-1 col-sm-1"></div>
 </div>
 <div class="row">
  <div class="col-md-10 col-xs-10 col-sm-10"></div>
  <div class="col-md-2 col-xs-1 col-sm-1">
   <br/>
            <a href="{% url 'post' %}">
              <button type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </a>
  </div>
 </div>
 <br/>

 {% for post in post_list %}
  <div class="row">
   <div class="col-md-1 col-xs-1 col-sm-1"></div>
   <div class="col-md-7 col-xs-7 col-sm-7">
    <ul class="list-group list-group-horizontal">
       <li class="list-group-item ">
        <small>{{ post.nname }}</small>
       </li>
       <li class="list-group-item ">
        <small>{{ post.species }}</small>
       </li>
       <li class="list-group-item ">
        <small>{{ post.somasurface }}</small>
       </li>
       <li class="list-group-item ">
        <img src="{{ post.pngurl }}" width="100" height="100"></img>
       </li>
     </ul>
    <br>
   </div>
   <div class="col-md-1 col-xs-1 col-sm-1">
    <a href="{% url 'detail' post.pk %}">
     <button type="button" class="btn btn-info">
      <span class="glyphicon glyphicon-open"></span>
     </button>
    </a>
   </div>
   <div class="col-md-1">
    <a href="{% url 'edit' post.pk %}">
     <button type="button" class="btn btn-info">
      <span class="glyphicon glyphicon-pencil"></span>
     </button>
    </a>
   </div>
   <div class="col-md-1">
    <a href="{% url 'delete' post.pk %}">
     <button type="button" class="btn btn-danger">
      <span class="glyphicon glyphicon-trash"></span>
     </button>
    </a>
   </div>
   <div class="col-md-1 col-xs-1 col-sm-1"></div>
  </div>
 {% endfor %}
</div>
{% endblock %}